# Root monorepo variables
NODE_ENV=development
COMPOSE_PROJECT_NAME=eduverse

# Shared endpoints
FRONTEND_URL=http://localhost:3000
API_GATEWAY_URL=http://localhost:8080
AI_SERVICE_URL=http://localhost:8000
